@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to top, #f8b1e4 0%, #9dbbef 100%);
  font-family: 'Poppins', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 500px;
  background-color: #fafafa;
  padding: 0px;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.07);
  margin: 6rem 0;
  border-radius: 0.75rem;
}

/* Header Style */
#footer {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  align-self: flex-start;
  text-transform: uppercase;
  box-shadow: 0 -10px 10px 0 rgba(1, 1, 1, 0.05);
}

#footer #taskAdd {
  transition: all 0.30s ease-in-out;
  width: 3rem;
  height: 3rem;
  background: #3b44fb;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  border-radius: 0.75rem;
  border: 0;
  outline: 0;
  will-change: transform;
}

#footer #taskAdd:hover {
  background: #333ae0;
  transform: scale(0.95);
}

#footer #taskAdd:active {
  transform: scale(0.9);
}

#footer input#taskInput {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background: transparent;
  width: calc(100% - 3rem - 5px);
  border: none;
}

#footer input#taskInput:focus {
  outline: 0;
  border-color: white;
  color: #0d0d0d;
}

/* Tasks List Style */
#tasks {
  padding: 1.5rem 2rem;
}

#tasks #tasksList {
  list-style-type: none;
  padding-left: 0;
}

#tasks #tasksList li {
  transition: all 0.30s ease-in-out;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.07);
  border-radius: 0.75rem;
  color: #0d0d0d;
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.015rem;
  animation: fadeIn 0.5s linear;
  background-color: #fff;
  margin-bottom: 5px;
  position: relative;
  border-right: 0px solid lightgray;
  will-change: transform;
}

#tasks #notification {
  padding-top: 1rem;
  text-align: center;
  color: gray;
  font-weight: 500;
  font-size: 1.25rem;
}
.fa-trash {
  position: absolute;
  right: 20px;
  color: red;
}
.fa-pen-to-square {
  position: absolute;
  right: 40px;
}
/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-top: -50px;
  }
}
